{
    attributes = (
        {
            className = "java.lang.Number"; 
            columnName = "MOVIE_ID"; 
            externalType = INT; 
            name = movieMovieId; 
            precision = 10; 
            valueType = l; 
        }, 
        {
            className = "java.lang.Number"; 
            columnName = "TALENT_ID"; 
            externalType = INT; 
            name = talentTalentId; 
            precision = 10; 
            valueType = l; 
        }
    ); 
    attributesUsedForLocking = (movieMovieId, talentTalentId); 
    className = EOGenericRecord; 
    externalName = Director; 
    fetchSpecificationDictionary = {}; 
    name = Director; 
    primaryKeyAttributes = (movieMovieId, talentTalentId); 
    relationships = (
        {
            destination = Movie; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = movieId; sourceAttribute = movieMovieId; }); 
            name = movie; 
        }, 
        {
            destination = Talent; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = talentId; sourceAttribute = talentTalentId; }); 
            name = talent; 
        }
    ); 
}
