<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Untitled</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<p>Es ist jetzt <webobject name="zeit" /> Uhr</p>
		<webobject name="zeitLink">Neuladen</webobject>
		<webobject name="hi">Say Hi</webobject>
		<webobject name="email">Email</webobject>
		<webobject name="browserName" />
		<webobject name="browserPic" />
		<webobject name="mainCounter" />
		<webobject name="sessionCounter" />
		<webObject name="backCounter" />
		<webobject name="deleteSession">Logout</webobject>

	</body>
</html>