<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<title>User Manager Login</title>
	</head>
	<body style = "text-align:center;">
	<div style="width:300px;text-align:left" >
		<webobject name = "form">
		<table>
			<tr>
				<td>Login</td> <td><webobject name = "login" /></td>
			</tr>
			<tr>
				<td>Passwort</td><td><webobject name = "passwort" /></td>
			</tr>
			<tr>
				<td colspan="2"><webobject name = "go" /></td>
			</tr>
		</table>
		</webobject>
		<p><webobject name = "message" /></p>
		</div>
	</body>
</html>
